<section id="session-view" class="view">
    <h3 class="page-title" data-bind="text: title"></h3>
    <div class="button-bar">
        <button class="btn btn-info"
            data-bind="click: goBack"><i class="icon-hand-left"></i> Back</button>
        <button class="btn btn-info"
            data-bind="click: cancel, enable: canSave"><i class="icon-undo"></i> Cancel</button>
        <button class="btn btn-info"
                data-bind="click: save, enable: canSave"><i class="icon-save"></i> Save</button>
        <button class="btn btn-danger"
                data-bind="click: deleteEvent, disable: hasChanges">
            <i class="icon-trash"></i> Delete
        </button>
        <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
    </div>
    <div data-bind="with: event">    
        <div class="titleblock">
            <label for="title">Title</label>
            <input id="title" data-bind="value: title" 
                placeholder="Event title"/>
        </div>
        <div class="details-left">
            <div>
                <label>Event date</label>
                <input data-bind="value: eventDate" placeholder="Level"/>
            </div>
        </div>
        <div class="details-right">
            <div>
                <label>Short Description</label>
                <textarea data-bind="value: shortDescription" 
                          placeholder="Enter Short Description"></textarea>
            </div>
        </div>
        <div class="details-right">
            <div>
                <label>Full Description</label>
                <textarea data-bind="value: fullDescription" 
                    placeholder="Enter Full Description"></textarea>
            </div>
        </div>
    </div>
</section>